@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100%;
}

a {
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	height: 100vh;
	background-color: #2a4d5d;
}

h1 {
	font-size: 1.2em;
	line-height: 1.1;
}

button {
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-family: inherit;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 8px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}
button:hover {
	border-color: transparent;
	background-color: #e55f5c;
	color: #000;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	color: currentColor;
	width: 1.1em;
	height: 1.1em;
	border: 1px solid currentColor;
	border-radius: 0.15em;
	display: grid;
	place-content: center;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transform-origin: center center;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #e55f5c;
	background-color: CanvasText;
}

input[type='checkbox']:checked::before {
	transform: scale(1);
}
